<% if @record.errors.present? %>
  <% key, error = @record.errors.first %>
  $('#errors_block').html('<div id=error_explanation><h2><%= j(error) %></h2></div>');
<% end %>

$('#record_form').html('<%= j(render 'form') %>');
