<% if @record.errors.present? %>
  <% key, error = @record.errors.first %>
  $('#errors_block').html('<div class="alert alert-danger" role="alert"><%= j(error) %></div>');
<% end %>

$('#record_form').html('<%= j(render 'form') %>');
$('#record_list').html('<%= j(render 'record_list') %>');
