default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: time_step_development

test:
  <<: *default
  database: time_step_test

production:
  <<: *default
  database: time_step_production
  username: postgres
  password: postgres
