// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#record_form {
  text-align: center;
  padding: 50px 0px;

  input[type=submit] {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px 0px;
    width: 280px;
    font-size: 20px;
    color: #fff;
  }

  input[type=submit]:hover {
    opacity: 0.8;
    filter: alpha(opacity=50)
  }

  .start-button {
    background-color: #7373af;
  }

  .finish-button {
    background-color: red;
  }
}
